In [1]:
import pandas as pd
import numpy as np
import os

## 3rd and 5 Data Balancing

In [2]:
thirdDown = pd.read_csv("../thirdDown.csv")
thirdDown = thirdDown[thirdDown.ydstogo<=5]

In [3]:
thirdDown.shape

(20333, 18)

In [31]:
thirdDown["play_type"].value_counts()

pass    13608
run      6725
Name: play_type, dtype: int64

In [32]:
Run_Data = thirdDown.loc[thirdDown['play_type'] == "run"]

In [33]:
Pass_Data = thirdDown.loc[thirdDown['play_type'] == "pass"]

In [34]:
Run_Data.shape

(6725, 18)

In [35]:
Pass_Data.shape

(13608, 18)

In [36]:
Pass_Sample = Pass_Data.sample(n=6725, random_state = 42)

In [37]:
Pass_Sample.shape

(6725, 18)

In [38]:
Pass_Sample.columns

Index(['Unnamed: 0', 'play_id', 'game_id', 'shotgun', 'no_huddle', 'ydstogo',
       'yardline_100', 'play_type', 'half_seconds_remaining', 'down',
       'pass_length', 'pass_length.1', 'run_location', 'score_differential',
       'fg_prob', 'td_prob', 'ep', 'third_down_converted'],
      dtype='object')

In [39]:
balanced_3and5 = pd.concat([Pass_Sample, Run_Data], ignore_index=True)

In [40]:
balanced_3and5.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,29359,3460,2012100708,0,0,3,24.0,pass,524.0,3.0,deep,deep,NaN,16.0,0.440327,0.385213,3.445278,1.0
1,18345,1431,2016010307,1,0,4,9.0,pass,507.0,3.0,short,short,NaN,21.0,0.539651,0.350024,3.724306,0.0
2,1354,1315,2018100800,1,0,5,35.0,pass,527.0,3.0,deep,deep,NaN,-10.0,0.387003,0.355790,2.769931,0.0
3,24299,3962,2013092906,1,1,3,13.0,pass,34.0,3.0,short,short,NaN,-7.0,0.484652,0.210792,2.806081,1.0
4,22713,2395,2014121800,1,0,4,74.0,pass,1396.0,3.0,short,short,NaN,-4.0,0.172944,0.298850,-0.156458,1.0

In [41]:
balanced_3and5.shape

(13450, 18)

In [42]:
balanced_3and5.to_csv("balanced_3and5_data.csv")

## 3rd and 3 Data Balancing

In [43]:
thirdDown = pd.read_csv("../thirdDown.csv")
thirdDown = thirdDown[thirdDown.ydstogo<=3]

In [44]:
thirdDown.shape

(12657, 18)

In [45]:
thirdDown["play_type"].value_counts()

pass    6920
run     5737
Name: play_type, dtype: int64

In [46]:
Run_Data = thirdDown.loc[thirdDown['play_type'] == "run"]

In [47]:
Pass_Data = thirdDown.loc[thirdDown['play_type'] == "pass"]

In [48]:
Run_Data.shape

(5737, 18)

In [49]:
Pass_Data.shape

(6920, 18)

In [50]:
Pass_Sample = Pass_Data.sample(n=5737, random_state = 42)

In [51]:
Pass_Sample.shape

(5737, 18)

In [52]:
Pass_Sample.columns

Index(['Unnamed: 0', 'play_id', 'game_id', 'shotgun', 'no_huddle', 'ydstogo',
       'yardline_100', 'play_type', 'half_seconds_remaining', 'down',
       'pass_length', 'pass_length.1', 'run_location', 'score_differential',
       'fg_prob', 'td_prob', 'ep', 'third_down_converted'],
      dtype='object')

In [53]:
balanced_3and3 = pd.concat([Pass_Sample, Run_Data], ignore_index=True)

In [55]:
balanced_3and3.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,3117,3783,2018120207,0,0,1,62.0,pass,327.0,3.0,short,short,NaN,6.0,0.159088,0.326227,1.570932,1.0
1,13192,3295,2016121810,0,0,1,79.0,pass,694.0,3.0,NaN,NaN,NaN,-10.0,0.127072,0.335419,0.494747,0.0
2,5351,2149,2017100105,1,0,3,42.0,pass,1609.0,3.0,short,short,NaN,16.0,0.360973,0.404575,2.677483,1.0
3,43558,3270,2009101200,0,0,3,67.0,pass,659.0,3.0,short,short,NaN,-3.0,0.190544,0.322837,0.835255,1.0
4,15826,420,2015110107,1,0,1,70.0,pass,1377.0,3.0,short,short,NaN,3.0,0.179115,0.403550,1.189367,0.0

In [56]:
balanced_3and3.shape

(11474, 18)

In [57]:
balanced_3and3.to_csv("balanced_3and3_data.csv")

## 3rd and 1 Data Balancing

In [72]:
thirdDown = pd.read_csv("../thirdDown.csv")
thirdDown = thirdDown[thirdDown.ydstogo<=1]

In [73]:
thirdDown.shape

(5290, 18)

In [74]:
thirdDown["play_type"].value_counts()

run     3817
pass    1473
Name: play_type, dtype: int64

In [75]:
Run_Data = thirdDown.loc[thirdDown['play_type'] == "run"]

In [76]:
Pass_Data = thirdDown.loc[thirdDown['play_type'] == "pass"]

In [77]:
Run_Data.shape

(3817, 18)

In [78]:
Pass_Data.shape

(1473, 18)

In [79]:
Run_Sample = Run_Data.sample(n=1473, random_state = 42)

In [80]:
Run_Sample.shape

(1473, 18)

In [81]:
Run_Sample.columns

Index(['Unnamed: 0', 'play_id', 'game_id', 'shotgun', 'no_huddle', 'ydstogo',
       'yardline_100', 'play_type', 'half_seconds_remaining', 'down',
       'pass_length', 'pass_length.1', 'run_location', 'score_differential',
       'fg_prob', 'td_prob', 'ep', 'third_down_converted'],
      dtype='object')

In [82]:
balanced_3and1 = pd.concat([Run_Sample, Pass_Data], ignore_index=True)

In [83]:
balanced_3and1.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,31921,3982,2012121300,0,0,1,13.0,run,351.0,3.0,NaN,NaN,middle,20.0,0.437187,0.420008,3.943577,1.0
1,17619,674,2015121400,1,1,1,59.0,run,1130.0,3.0,NaN,NaN,middle,-4.0,0.232797,0.445559,2.193884,0.0
2,27189,3589,2013120812,0,0,1,71.0,run,298.0,3.0,NaN,NaN,right,-1.0,0.116581,0.274975,0.931892,1.0
3,31410,290,2012120204,0,0,1,56.0,run,1480.0,3.0,NaN,NaN,left,-7.0,0.250124,0.452546,2.358866,1.0
4,38010,3262,2010091911,0,0,1,54.0,run,587.0,3.0,NaN,NaN,left,7.0,0.235966,0.424464,2.449886,1.0

In [84]:
balanced_3and1.shape

(2946, 18)

In [85]:
balanced_3and1.to_csv("balanced_3and1_data.csv")