In [1]:
import pandas as pd
import numpy as np
import os

In [9]:
thirdDown = pd.read_csv("thirdDown.csv")

In [10]:
thirdDown.shape

(46877, 18)

In [11]:
thirdDown["play_type"].value_counts()

pass    37025
run      9852
Name: play_type, dtype: int64

In [12]:
Run_Data = thirdDown.loc[thirdDown['play_type'] == "run"]

In [13]:
Pass_Data = thirdDown.loc[thirdDown['play_type'] == "pass"]

In [14]:
Run_Data.shape

(9852, 18)

In [15]:
Pass_Data.shape

(37025, 18)

In [17]:
Pass_Sample = Pass_Data.sample(n=9852, random_state = 42)

In [20]:
Pass_Sample.shape

(9852, 18)

In [21]:
Pass_Sample.columns

Index(['Unnamed: 0', 'play_id', 'game_id', 'shotgun', 'no_huddle', 'ydstogo',
       'yardline_100', 'play_type', 'half_seconds_remaining', 'down',
       'pass_length', 'pass_length.1', 'run_location', 'score_differential',
       'fg_prob', 'td_prob', 'ep', 'third_down_converted'],
      dtype='object')

In [25]:
Balanced_Data = pd.concat([Pass_Sample, Run_Data], ignore_index = True)

In [26]:
Balanced_Data.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,32122,1084,2012121612,1,0,13,75.0,pass,735.0,3.0,deep,deep,NaN,-3.0,0.163596,0.221572,-0.728013,0.0
1,4466,3734,2018123015,1,0,9,20.0,pass,419.0,3.0,NaN,NaN,NaN,0.0,0.491748,0.313103,3.110654,0.0
2,36559,2680,2011121110,1,0,8,79.0,pass,1399.0,3.0,short,short,NaN,5.0,0.150793,0.239080,-1.075599,0.0
3,44288,920,2009110800,1,0,7,70.0,pass,900.0,3.0,NaN,NaN,NaN,-13.0,0.194591,0.280941,0.016882,0.0
4,24939,535,2013101308,1,0,6,48.0,pass,1447.0,3.0,deep,deep,NaN,-7.0,0.339833,0.356560,1.918829,0.0

In [28]:
Balanced_Data.shape

(19704, 18)

In [29]:
Balanced_Data.to_csv("Balanced_Data.csv")

In [30]:
Balanced_Data = Balanced_Data.drop(columns = ['Unnamed: 0', 'play_id', 'game_id', 'pass_length.1'])

In [31]:
Balanced_Data.columns

Index(['shotgun', 'no_huddle', 'ydstogo', 'yardline_100', 'play_type',
       'half_seconds_remaining', 'down', 'pass_length', 'run_location',
       'score_differential', 'fg_prob', 'td_prob', 'ep',
       'third_down_converted'],
      dtype='object')

In [32]:
Balanced_Data = Balanced_Data.drop(columns = ['pass_length', 'run_location'])

In [33]:
Balanced_Data.columns

Index(['shotgun', 'no_huddle', 'ydstogo', 'yardline_100', 'play_type',
       'half_seconds_remaining', 'down', 'score_differential', 'fg_prob',
       'td_prob', 'ep', 'third_down_converted'],
      dtype='object')

In [34]:
Balanced_Data.to_csv("finalBalance.csv")